<app-home></app-home>

  
<app-compo-one></app-compo-one>
<div style="position: relative; top: -60px;"><app-compotwo></app-compotwo></div>
 


<div class="container">
    <div class="row">
      <div class="col-lg-12">
    <div class="row justify-content-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
          <form [formGroup]= "callForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Enter Index</label>
                <input type="email" class="form-control" id="number" formControlName="num" aria-describedby="emailHelp" placeholder="Enter Phone">
                
              </div>
            
             <div class="d-flex justify-content-center">
              <!-- <button type="submit" (click)="Add()" class="btn btn-primary">Add Number</button> -->
              <button type="submit" (click)="Getnum()" class="btn btn-primary">Get Number</button>

             </div>
            </form>
            <h1 class="mt-5">Your Number is:  {{userArr}}</h1>
      </div>
      <div class="col-lg-3"></div>
    </div>
      </div>
  </div>

  <div class="row task4">
    <div class="col-lg-12">
      <div class="row justify-content-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h2>Question 4</h2>

        <form [formGroup]= "lastForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter Name</label>
            <input type="text" class="form-control" id="number" formControlName="name" aria-describedby="emailHelp" placeholder="Write something here">
            
            <div class="d-flex justify-content-center">
            <button type="submit" (click)="Newdata()" class="btn btn-primary mt-3">Send</button>

            </div>
            
          </div>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
    </div>
  </div>
  </div>

  <app-compothree></app-compothree>
  <div style="position: relative; top: -60px;"><app-compofour></app-compofour></div>
